<include "../public/head"/>
<body>
<div class="je-p20">

	<blockquote class="je-quote green je-f16 je-ovh  je-mb10">
        <p class="je-pb5 checkbox">
            {$message}
        </p>
    </blockquote>

    <div style="margin-top: 50px;">
	    <div class="je-form-item">
	        <label class="je-label je-f14">授权码</label>
	        <div class="je-inputbox">
	            <input type="text" id="softcode" autocomplete="off" class="je-input">
	        </div>
	    </div>

	    <div class="je-form-item je-f14">
	        <label class="je-label je-f14"></label>
	        <button class="je-btn je-bg-native je-btn-big je-f18" id="btnIframe">授权</button>
	    </div>
    </div>
        <!--</form>-->
    
</div>

<script type="text/javascript">
    
jeui.use(["jquery","jeBox","jeCheck","jeSelect"],function () {
    
    var index = parent.jeBox.frameIndex(window.name);
    $('#btnIframe').click(function(val){

        var softcode = document.getElementById("softcode").value;

        $.ajax({
            type: "POST",
            url: "/softauth_ajax",
            timeout: 60000,
            async: true,
            data: {
                "softcode": softcode
            },
            success: function(data, textStatus) {   
    			console.log(data);
                
                if(data.ret != 1)
                    jeBox.alert(data.message);
                else{
                    parent.jeBox.msg('授权成功。');
                    setTimeout(function(){
                    	location.href="/";
                    },1000);
                }

            }
        });
        
    });
 })
    
</script>
<!--
http://www.qdfuns.com/notes/13967/3cdebc6a132f33a3e65aa2b6019a7487.html
http://www.jq22.com/demo/jQueryNavHover20161129/
-->
</body>
</html>