<include "../public/head"/>
<body>
<div class="je-p10">


    <div class="je-row-ml je-ovh je-boxsiz">
        <div class="je-wlg33 je-wmd33 je-wsm33 je-wmn50 je-fl je-pl10 je-pb10 je-boxsiz">
            <a class="pane-link">
                <div class="je-w40 pane-icon je-bg-blue je-tc">
                    <em class="je-icon je-white" style="font-size:40px;">&#xe602;</em>
                </div>
                <div class="je-w60 je-tc pane-word"><span>{$user_count}</span><cite>用户数量</cite></div>
            </a>
        </div>
        
        <div class="je-wlg33 je-wmd33 je-wsm33 je-wmn50 je-fl je-pl10 je-pb10 je-boxsiz">
            <a class="pane-link">
                <div class="je-w40 pane-icon je-bg-olive je-tc">
                    <em class="je-icon je-white" style="font-size:40px;">&#xe631;</em>
                </div>
                <div class="je-w60 je-tc pane-word"><span>{$server_count}</span><cite>服务器数量</cite></div>
            </a>
        </div>
        <div class="je-wlg33 je-wmd33 je-wsm33 je-wmn50 je-fl je-pl10 je-pb10 je-boxsiz">
            <a class="pane-link">
                <div class="je-w40 pane-icon je-bg-green je-tc">
                    <em class="je-icon je-white" style="font-size:40px;">&#xe60e;</em>
                </div>
                <div class="je-w60 je-tc pane-word"><span>{$rules_count}</span><cite>规则数量</cite></div>
            </a>
        </div>
    </div>
    
    <if "$nowversion">

    <blockquote class="je-quote green je-f16 je-ovh  je-mb10">
        <p class="je-pb5">
            当前版本：{$nowversion} 最新版本：{$newversion} <if "$newversion != $nowversion"> <a target="_blank" href="https://taolu-soft.github.io/iptables-doc/more/update.html">查看更新文档</a> <button class="je-btn" id="update">在线更新</button></if>
        </p>
    </blockquote>
    
    </if>

</div>
<script type="text/javascript">
jeui.use(["jquery","jeTabs","echarts"],function () {

    $('#update').click(function(val){

        var san = parent.jeBox.loading(2,"Loading...");

        $.ajax({
            type: "POST",
            url: "/update",
            timeout: 60000,
            async: true,
            success: function(data, textStatus) {   
                parent.jeBox.close(san)
                if(data.ret == 0)
                    parent.jeBox.alert(data.message);
                else if(data.ret == 1){
                    parent.jeBox.msg('更新成功！');
                    setTimeout(function(){
                        parent.location.reload()
                    },1000);
                }else{
                    parent.jeBox.msg(data);
                }
            }
        });
        
    });
})
  
</script>

</body>
</html>