<include "../public/head"/>
<body>
<div class="je-p20">
    
    <blockquote class="je-quote green je-f16 je-ovh  je-mb10">
        <p class="je-pb5 checkbox">
            <select class="myselect" id="mySelect">

            	<each "$list as $v">
            		<option value="{$v['id']}" <if "$_GET['id']==$v['id']">selected</if>>{$v['name']} - {$v['server_cname']} - {$v['server_ip']} - {$v['server_port']}</option>
				</each>
                <!--<option value="2" selected>服务器2</option>-->
            </select>
            <button class="je-btn je-bg-orange" onclick="location.reload()"><i class="je-icon je-f20">&#xe601;</i></button>
            <button class="je-btn je-bg-blue">已用：<?php echo toGb($traffic_all_used); ?>G</button>
        </p>
    </blockquote>
    <table class="je-table je-mb20" id="newCheck">
        <thead>
        <tr>
            <th width="10%" align="left">ID</th>
            <th width="40%">用户</th>
            <th width="50%">已用流量</th>
        </tr>
        </thead>
        <tbody>
    	<each "$users as $v">
        	<tr>
	            <td>{$v['id']}</td>
                <td>{$v['username']}</td>
                <td><?php echo toGb($v['traffic_used']); ?>G</td>
	        </tr>
		</each>
        
        </tbody>
    </table>
</div>
<script type="text/javascript">

    jeui.use(["jquery","jeBox","jeDate","jeCheck","jeSelect"],function () {
        $(".myselect").jeSelect({
            sosList: false,
            itemfun:function(elem, index, val) {
                console.log(val);
                if(val != undefined){
                    url = "/traffic?id=" + val;
                    window.location.href=url;
                }
            }
        });
    });
</script>
</body>
</html>